body {
  margin: 0;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;

  background-color: lightgray;
}

.section {
  position: relative;

  height: 550px;

  text-align: center;
}

#greeting-section {
  height: 650px;
  background-color: #9B59B6;
}

#greeting-section #greeting-message-wrapper {
  padding: 0 10px;
}

#greeting-section #greeting-message-wrapper #greeting-message-name {
  padding-top: 150px;
  font-size: 200;
}
@media all and (max-width: 414px) {
  #greeting-section #greeting-message-wrapper #greeting-message-name {
    padding-top: 125px;
  }
}
@media all and (max-width: 375px) {
  #greeting-section #greeting-message-wrapper #greeting-message-name {
    padding-top: 200px;
    font-size: 88;
  }
}
@media all and (max-width: 320px) {
  #greeting-section #greeting-message-wrapper #greeting-message-name {
    padding-top: 175px;
    font-size: 88;
  }
}

#greeting-section #social-icons {
  max-width: 500px;

  margin: 0 auto;

  font-size: 56;
}
@media all and (max-width: 375px) {
  #greeting-section #social-icons {
    font-size: 32;
  }
}
@media all and (max-width: 320px) {
  #greeting-section #social-icons {
    font-size: 32;
  }
}

#greeting-section #social-icons a {
  margin: 0 15px;

  text-decoration: none;
}

#greeting-section #social-icons a i {
  opacity: 0;

  -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
       -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;

  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
       -o-transform: translateY(50px);
          transform: translateY(50px);
}

#greeting-section #social-icons a i:hover {
  font-size: 60;
}

#greeting-section #social-icons a i.animate {
  opacity: 1;

  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

#greeting-section #social-icons a i.fa-twitter {
  color: #55ACEE;
}

#greeting-section #social-icons a i.fa-vine {
  color: #00a478;

  -webkit-transition-delay: 0.03s;
     -moz-transition-delay: 0.03s;
      -ms-transition-delay: 0.03s;
       -o-transition-delay: 0.03s;
          transition-delay: 0.03s;
}

#greeting-section #social-icons a i.fa-linkedin {
  color: #0092D8;

  -webkit-transition-delay: 0.06s;
     -moz-transition-delay: 0.06s;
      -ms-transition-delay: 0.06s;
       -o-transition-delay: 0.06s;
          transition-delay: 0.06s;
}

#greeting-section #social-icons a i.fa-github {
  color: #AEADAF;

  -webkit-transition-delay: 0.09s;
     -moz-transition-delay: 0.09s;
      -ms-transition-delay: 0.09s;
       -o-transition-delay: 0.09s;
          transition-delay: 0.09s;
}

#bio-section {
  background-color: #E67E22;
}

#bio-section #bio-section-text {
  margin: 0 auto;
  max-width: 700px;
  padding: 200px 10px;
}

#bio-section #bio-section-text p {
  margin: 0;
}

#showcase-section {
  background-color: #3498DB;
}

#showcase-section #showcase-title {
  padding-top: 100px;

  font-size: 56;
}
@media all and (max-width: 414px) {
  #showcase-section #showcase-title {
    padding-top: 50px;
    font-size: 32;
  }
}
@media all and (max-width: 375px) {
  #showcase-section #showcase-title {
    padding-top: 50px;
    font-size: 32;
  }
}
@media all and (max-width: 320px) {
  #showcase-section #showcase-title {
    padding-top: 50px;
    font-size: 32;
  }
}

#showcase-section #showcase-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#showcase-section #showcase-wrapper a {
  text-decoration: none;
}

#showcase-section #showcase-wrapper a:link,
#showcase-section #showcase-wrapper a:visited,
#showcase-section #showcase-wrapper a:active {
  color: black;
}

#showcase-section #showcase-wrapper .showcase {
  position: relative;
  display: inline-block;
  opacity: 0;
  height: 150px;
  width: 200px;
  margin: 100px 20px;

  background-color: lightgray;

  -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
       -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
}
@media all and (max-width: 414px) {
  #showcase-section #showcase-wrapper .showcase {
    display: block;
    height: 100px;
    width: 126px;
    margin: 40px 144px;
  }
}
@media all and (max-width: 375px) {
  #showcase-section #showcase-wrapper .showcase {
    display: block;
    height: 100px;
    width: 125px;
    margin: 40px 125px;
  }
}
@media all and (max-width: 320px) {
  #showcase-section #showcase-wrapper .showcase {
    display: block;
    height: 80px;
    width: 100px;

    margin: 50px 110px;
  }
}

#showcase-section #showcase-wrapper .showcase.animate {
  opacity: 1;
}

#showcase-section #showcase-wrapper #showcase-menu-slider {
  -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
#showcase-section #showcase-wrapper #showcase-blog {
  -webkit-transition-delay: 0.4s;
     -moz-transition-delay: 0.4s;
      -ms-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
#showcase-section #showcase-wrapper #showcase-resume {
  -webkit-transition-delay: 0.6s;
     -moz-transition-delay: 0.6s;
      -ms-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#showcase-section #showcase-wrapper .showcase .showcase-title {
  padding-top: 20px;
}
@media all and (max-width: 414px) {
  #showcase-section #showcase-wrapper .showcase .showcase-title {
    padding-top: 15px;
  }
}
@media all and (max-width: 375px) {
  #showcase-section #showcase-wrapper .showcase .showcase-title {
    padding-top: 15px;
  }
}
@media all and (max-width: 320px) {
  #showcase-section #showcase-wrapper .showcase .showcase-title {
    padding-top: 8px;
  }
}

#showcase-section #showcase-wrapper .showcase i {
  font-size: 56;
  padding-top: 15px;
}
@media all and (max-width: 414px) {
  #showcase-section #showcase-wrapper .showcase i {
    font-size: 36;
    padding-top: 10px;
  }
}
@media all and (max-width: 375px) {
  #showcase-section #showcase-wrapper .showcase i {
    font-size: 36;
    padding-top: 10px;
  }
}
@media all and (max-width: 320px) {
  #showcase-section #showcase-wrapper .showcase i {
    font-size: 36;
    padding-top: 8px;
  }
}

#interests-section {
  background-color: #1ABC9C;
}

#interests-section #interests-section-text {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 10px;
}

#interests-section #interests-section-text p {
  position: relative;
  top: 140;
  margin: 0;
}

#contact-section {
  background-color: #E74C3C;
}

#contact-section #contact-button-wrapper a #contact-button {
  height: 100px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50px;
  background-color: whitesmoke;
  margin-top: 225px;
  font-size: 20;
}

#contact-section #contact-button-wrapper a #contact-button:hover {
  background-color: lightgray;
}

#contact-section #contact-button-wrapper a #contact-button:active {
  background-color: #C1C1C1;
}